@model ArtSolution.Web.Areas.Admin.Models.Setting.MediaSettingModel
@{
    ViewBag.Title = "媒体配置";
}


<script type="text/javascript">
    $(document).ready(function () {
        $("#@Html.FieldIdFor(model => model.IsLocalStorage)").click(toggleLocalStorage);
        toggleLocalStorage();
    });

    function toggleLocalStorage() {
        if ($('#@Html.FieldIdFor(model => model.IsLocalStorage)').is(':checked')) {
            $('.pnl-oss-storage').hide();
        }
        else {
            $('.pnl-oss-storage').show();
        }
    }
</script>
<section class="content-header">
    <h1>媒体配置</h1>
    <ol class="function"></ol>
</section>
<section class="content">
    <div class="portlet-body">
        @using (Html.BeginForm("Media", "Setting", FormMethod.Post, new { id = "system-form" }))
        {
            @Html.AntiForgeryToken()
            <div class="section-header">
                <div class="options">
                    <input type="submit" name="save" class="btn btn-primary" value="保存" />
                </div>
            </div>

            <div id="attribute-edit">
                <div class="row">
                    <div class="col-md-10">
                        <table class="adminContent">
                            <tr>
                                <td class="adminTitle">
                                    @Html.LabelFor(model => model.IsLocalStorage):
                                </td>
                                <td class="adminData">
                                    <div class="input-group">
                                        @Html.EditorFor(model => model.IsLocalStorage, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.IsLocalStorage)
                                    </div>
                                </td>
                            </tr>
                            <tr class="pnl-oss-storage">
                                <td class="adminTitle">
                                    @Html.LabelFor(model => model.Bucket):
                                </td>
                                <td class="adminData">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-amazon"></i></span>
                                        @Html.TextBoxFor(model => model.Bucket, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.Bucket)
                                    </div>
                                </td>
                            </tr>

                            <tr class="pnl-oss-storage">
                                <td class="adminTitle">
                                    @Html.ArtLabelFor(model => model.Endpoint):
                                </td>
                                <td class="adminData">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-amazon"></i></span>
                                        @Html.TextBoxFor(model => model.Endpoint, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.Endpoint)
                                    </div>
                                </td>
                            </tr>

                            <tr class="pnl-oss-storage">
                                <td class="adminTitle">
                                    @Html.LabelFor(model => model.AccessKeyId):
                                </td>
                                <td class="adminData">
                                    @Html.TextBoxFor(model => model.AccessKeyId, new { @class = "form-control", rows = "6" })
                                    @Html.ValidationMessageFor(model => model.AccessKeyId)
                                </td>
                            </tr>

                            <tr class="pnl-oss-storage">
                                <td class="adminTitle">
                                    @Html.ArtLabelFor(model => model.AccessKeySecret):
                                </td>
                                <td class="adminData">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-mobile"></i></span>
                                        @Html.TextBoxFor(model => model.AccessKeySecret, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.AccessKeySecret)
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        }


    </div>
</section>
