@model ArtSolution.Web.Areas.Admin.Models.Setting.OrderSettingModel
@{
    ViewBag.Title = "Order";
}

<section class="content-header">
    <h1>订单配置</h1>
    <ol class="function"></ol>
</section>
<section class="content">
    <div class="portlet-body">
        @using (Html.BeginForm("Order", "Setting", FormMethod.Post, new { id = "system-form" }))
        {
            @Html.AntiForgeryToken()
            <div class="section-header">
                <div class="options">
                    <input type="submit" name="save" class="btn btn-primary" value="保存" />
                </div>
            </div>

            <div id="attribute-edit">
                <div class="row">
                    <div class="col-md-10">
                        <table class="adminContent">

                            <tr>
                                <td class="adminTitle">
                                    @Html.LabelFor(model => model.OrderFailureTime):
                                </td>
                                <td class="adminData">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-amazon"></i></span>
                                        @Html.TextBoxFor(model => model.OrderFailureTime, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.OrderFailureTime)
                                    </div>
                                </td>
                            </tr>

                            <tr>
                                <td class="adminTitle">
                                    @Html.LabelFor(model => model.OrderFreeShip):
                                </td>
                                <td class="adminData">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-amazon"></i></span>
                                        @Html.TextBoxFor(model => model.OrderFreeShip, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.OrderFreeShip)
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="adminTitle">
                                    @Html.ArtLabelFor(model => model.ShipFee):
                                </td>
                                <td class="adminData">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-amazon"></i></span>
                                        @Html.TextBoxFor(model => model.ShipFee, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.ShipFee)
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        }


    </div>
</section>


