@model ArtSolution.Web.Areas.Admin.Models.Setting.RewardSettingModel
@{
    ViewBag.Title = "积分配置";
}

<script type="text/javascript">
    $(document).ready(function () {
        $("#@Html.FieldIdFor(model => model.Enabled)").click(activatePointsImmediately);
        $("#@Html.FieldIdFor(model => model.RewardPaymentEnabled)").click(activateRewardImmediately);
        $("#@Html.FieldIdFor(model => model.SignRewardEnabled)").click(activateSignImmediately);
        activatePointsImmediately();
        activateRewardImmediately();
        activateSignImmediately();
    });

    function activatePointsImmediately() {
        if ($('#@Html.FieldIdFor(model => model.Enabled)').is(':checked'))
            $('.panel-child').show();
        else
            $('.panel-child').hide();
    }

    function activateRewardImmediately() {
        if ($('#@Html.FieldIdFor(model => model.RewardPaymentEnabled)').is(':checked'))
            $('.panel-reward').show();
        else
            $('.panel-reward').hide();
    }


    function activateSignImmediately() {
        if ($('#@Html.FieldIdFor(model => model.SignRewardEnabled)').is(':checked'))
            $('.panel-sign').show();
        else
            $('.panel-sign').hide();
    }

</script>

<section class="content-header">
    <h1>积分配置</h1>
    <ol class="function"></ol>
</section>
<section class="content">
    <div class="portlet-body">
        @using (Html.BeginForm("Reward", "Setting", FormMethod.Post, new { id = "system-form" }))
        {
            @Html.AntiForgeryToken()
            <div class="section-header">
                <div class="options">
                    <input type="submit" name="save" class="btn btn-primary" value="保存" />
                </div>
            </div>

            <div id="attribute-edit">
                <div class="row">
                    <div class="col-md-10">
                        <table class="adminContent">

                            <tr>
                                <td class="adminTitle">
                                    @Html.LabelFor(model => model.Enabled):
                                </td>
                                <td class="adminData">
                                    @Html.EditorFor(model => model.Enabled, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.Enabled)
                                </td>
                            </tr>

                            <tr class="panel-child">
                                <td class="adminTitle">
                                    @Html.LabelFor(model => model.ExchangeRate):
                                </td>
                                <td class="adminData">
                                    @Html.ArtEditorFor(model => model.ExchangeRate)
                                    @Html.ValidationMessageFor(model => model.ExchangeRate)
                                </td>
                            </tr>
                            <tr class="panel-child">
                                <td class="adminTitle">
                                    @Html.ArtLabelFor(model => model.PointsForRegistration):
                                </td>
                                <td class="adminData">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-amazon"></i></span>
                                        @Html.TextBoxFor(model => model.PointsForRegistration, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.PointsForRegistration)
                                    </div>
                                </td>
                            </tr>
                            <tr class="panel-child">
                                <td class="adminTitle">
                                    @Html.LabelFor(model => model.PointsForFirstOrder):
                                </td>
                                <td class="adminData">
                                    @Html.TextBoxFor(model => model.PointsForFirstOrder, new { @class = "form-control", rows = "6" })
                                    @Html.ValidationMessageFor(model => model.PointsForFirstOrder)
                                </td>
                            </tr>


                            <tr>
                                <td class="adminTitle">
                                    @Html.LabelFor(model => model.RewardPaymentEnabled):
                                </td>
                                <td class="adminData">
                                    @Html.EditorFor(model => model.RewardPaymentEnabled, new { @class = "form-control", rows = "6" })
                                    @Html.ValidationMessageFor(model => model.RewardPaymentEnabled)
                                </td>
                            </tr>


                            <tr class="panel-reward">
                                <td class="adminTitle">
                                    @Html.LabelFor(model => model.PaymentRate):
                                </td>
                                <td class="adminData">
                                    @Html.TextBoxFor(model => model.PaymentRate, new { @class = "form-control", rows = "6" })
                                    @Html.ValidationMessageFor(model => model.PaymentRate)
                                </td>
                            </tr>


                            <tr>
                                <td class="adminTitle">
                                    @Html.LabelFor(model => model.SignRewardEnabled):
                                </td>
                                <td class="adminData">
                                    @Html.EditorFor(model => model.SignRewardEnabled, new { @class = "form-control", rows = "6" })
                                    @Html.ValidationMessageFor(model => model.SignRewardEnabled)
                                </td>
                            </tr>

                            <tr class="panel-sign">
                                <td class="adminTitle">
                                    @Html.LabelFor(model => model.FirstRewardPoint):
                                </td>
                                <td class="adminData">
                                    @Html.TextBoxFor(model => model.FirstRewardPoint, new { @class = "form-control", rows = "6" })
                                    @Html.ValidationMessageFor(model => model.FirstRewardPoint)
                                </td>
                            </tr>
                            <tr class="panel-sign">
                                <td class="adminTitle">
                                    @Html.LabelFor(model => model.AdditionalReward):
                                </td>
                                <td class="adminData">
                                    @Html.TextBoxFor(model => model.AdditionalReward, new { @class = "form-control", rows = "6" })
                                    @Html.ValidationMessageFor(model => model.AdditionalReward)
                                </td>
                            </tr>
                            <tr class="panel-sign">
                                <td class="adminTitle">
                                    @Html.LabelFor(model => model.MaxRewardPoint):
                                </td>
                                <td class="adminData">
                                    @Html.TextBoxFor(model => model.MaxRewardPoint, new { @class = "form-control", rows = "6" })
                                    @Html.ValidationMessageFor(model => model.MaxRewardPoint)
                                </td>
                            </tr>

                        </table>
                    </div>
                </div>
            </div>
        }


    </div>
</section>
