@model ArtSolution.Web.Areas.Admin.Models.Catalog.AttributeListModel
@{
    ViewBag.Title = "属性规格";
}

@section Styles
{
    @Html.IncludeStyle("~/admin-lte/plugins/datatables/extensions/Responsive/css/dataTables.responsive.css")
    @Html.IncludeStyle("~/admin-lte/plugins/datatables/jquery.dataTables.min.css")
}
@section Scripts
    {
    @Html.IncludeScript("~/admin-lte/plugins/datatables/jquery.dataTables.min.js")
    @Html.IncludeScript("~/admin-lte/plugins/datatables/dataTables.bootstrap.min.js")
    @Html.IncludeScript("~/admin-lte/plugins/datatables/extensions/Responsive/js/dataTables.responsive.min.js")
}

<section class="content-header">
    <h1>属性规格</h1>
   
</section>
<section class="content">
    <div class="portlet-filter">        
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    @Html.TextBoxFor(model => model.Keywords, new { @placeholder = "关键字查询", @class = "form-control" })
                </div>
            </div>

            <div class="col-md-2">
                <a href="#" class="reload btn btn-social-icon"><i class="fa fa-search"></i></a>
            </div>
            <div class="col-md-1 col-md-offset-5">
                <a href="@Url.Action("Create")" class="btn btn-primary"><i class="fa fa-fw fa-plus-square"></i>新增商品</a>
            </div>
        </div>
    </div>
    <div class="portlet-body">
        <table id="attribute_table" class="table table-bordered table-striped table-hover">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>属性名称</th>
                    <th>权重</th>
                    <th>商品使用次数</th>
                    <th>操作</th>
                </tr>
            </thead>
        </table>
    </div>
</section>


<script type="text/javascript">
        $(function () {
           var table= $("#attribute_table").dataTable({
                ajax: {
                    url: "/Admin/Attribute/List",
                    type: "POST",
                    data: additionalData
                },
                columns: [
                        { "data": "Id" },
                        { "data": "Name" },
                        { "data": "DisplayOrder" },
                        { "data": "WithOrder" },
                        {
                            "data": null, "class": "center",
                            "defaultContent": "<button class=\"btn btn-primary btn-xs\" id=\"edit\">修改</button>" +
                                "<button class=\"btn btn-info btn-xs\" id=\"edit\">详细</button>"
                        },
                ],
                paging: true,
                searching: false,//搜索
                language: {
                    lengthMenu: '<select class="form-control select2" id="PageSize">' + '<option value="1">1</option>' + '<option value="10">10</option>' + '<option value="20">20</option>' + '<option value="30">30</option>' + '<option value="40">40</option>' + '<option value="50">50</option>' + '</select>条记录',
                    paginate: {//分页的样式内容。
                        previous: "上一页",
                        next: "下一页",
                        first: "第一页",
                        last: "最后"
                    },

                    zeroRecords: "没有内容",//table tbody内容为空时，tbody的内容。
                    //下面三者构成了总体的左下角的内容。
                    info: "总共_PAGES_ 页，显示第_START_ 到第 _END_ ，共 _TOTAL_ 条",//左下角的信息显示，大写的词为关键字。
                    infoEmpty: "0条记录",//筛选为空时左下角的显示。
                    infoFiltered: ""//筛选之后的左下角筛选提示，
                },
                pagingType: "full_numbers",//分页样式的类型

            });
            $('#attribute_table tbody').on('click', 'button#edit', function () {
                var data = $('#attribute_table').DataTable().row($(this).parents('tr')).data();
                location.href = "Edit/" + data["Id"];
            });


            /**
             * 删除
             */
            $('#attribute_table tbody').on('click', 'button#del', function () {
                var data = $('#attribute_table').DataTable().row($(this).parents('tr')).data();
                data["Id"];
            });
            
            $(".search").click(function () {
                table.api().ajax.reload();

            });
        });


    function additionalData() {
        var data = {
            Keywords: $("#@Html.FieldIdFor(model=>model.Keywords)").val(),
        };
        return data;
    }

</script>