@model ArtSolution.Web.Areas.Admin.Models.Catalog.ProductTagModel


@Html.ValidationSummary(false)
@Html.HiddenFor(model => model.Id)
<div id="brand-edit">
    <div class="box">
        <div class="row">
            <div class="col-md-9">
                <table class="adminContent">
                    <tr>
                        <td class="adminTitle">
                            @Html.ArtLabelFor(model => model.Name):
                        </td>
                        <td class="adminData">
                            @Html.ArtEditorFor(model => model.Name)
                            @Html.ValidationMessageFor(model => model.Name)
                        </td>
                    </tr>
                    <tr>
                        <td class="adminTitle">
                            @Html.ArtLabelFor(model => model.DisplayOrder):
                        </td>
                        <td class="adminData">
                            @Html.ArtEditorFor(model => model.DisplayOrder)
                            @Html.ValidationMessageFor(model => model.DisplayOrder)
                        </td>
                    </tr>
                    <tr>
                        <td class="adminTitle">
                            @Html.ArtLabelFor(model => model.Enabled):
                        </td>
                        <td class="adminData">
                            @Html.EditorFor(model => model.Enabled)
                            @Html.ValidationMessageFor(model => model.Enabled)
                        </td>
                    </tr>
                    <tr>
                        <td class="adminTitle">
                            @Html.ArtLabelFor(model => model.TagImage):
                        </td>
                        <td class="adminData">
                            @Html.EditorFor(model => model.TagImage)
                            @Html.ValidationMessageFor(model => model.TagImage)
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

</div>