@model ArtSolution.Web.Models.Orders.CreateOrderModel

@using ArtSolution.Web.Framework.WeChat;
@using Abp.Runtime.Caching;
@using ArtSolution.Common;
@using ArtSolution.Domain.Discounts;
@{
    var _cacheManager = Abp.Dependency.IocManager.Instance.Resolve<ICacheManager>();
    var _settingService = Abp.Dependency.IocManager.Instance.Resolve<ISettingService>();
    WeChatDefault wechat = new WeChatDefault();
    var config = wechat.WxConfig(_settingService, _cacheManager, this.Request.Url.Host + this.Request.Url.PathAndQuery);
}

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    @Html.IncludeScript("http://res.wx.qq.com/open/js/jweixin-1.1.0.js")
}
@Html.Action("Header", "Common", new { header = "订单结算" })
<div class="container">
    <div class="create-order">
        <div class="panel">
            @Html.Partial("_SelectAddress", config)
        </div>
        <!-- Address End -->
        <div class="box product-detail">
            <fieldset>
                <legend>订单总汇</legend>
                <div class="product-list">
                    <!-- Product Info-->
                    @foreach (var item in Model.Items)
                    {
                        <div class="product-item">
                            <div class="product-item-image">
                                <img src="@item.ProductImage" />
                            </div>
                            <div class="product-item-info">
                                <div class="order-product-name">
                                    <p>@item.ProductName</p>
                                </div>
                                <div class="order-product-total clearfix">
                                    <div class="pull-left"><span class="product-price"><i class="fa fa-rmb"></i>@item.Price</span></div>

                                    <div class="pull-right"> x @item.Quantity</div>
                                </div>
                            </div>
                        </div>

                    }
                    </div>

</fieldset>
        </div>
        <!-- Order End -->

        @using (Ajax.BeginForm("CartSaveToOrder", "Order",
                                                                new AjaxOptions
                                                                {
                                                                    HttpMethod = "POST",
                                                                    OnSuccess = "SaveOrderSuccess",
                                                                }, new { @class = "form-horizontal", id = "order-form" }))
        {
            @Html.Hidden("orderId", Model.Id)

        <!-- 备注 -->
            <div class="box">
                <fieldset>
                    <div class="form-group">
                        @Html.LabelFor(model => model.OrderRemarks, new { @class = "control-label col-xs-3" })
                        <div class="controls col-xs-9">
                            @Html.ArtEditorFor(model => model.OrderRemarks)
                        </div>
                    </div>
                    <div class="form-group">
                            @Html.LabelFor(model => model.CouponId, new { @class = "control-label col-xs-3" })
                            <div class="controls col-xs-9">
                                @Html.DropDownListFor(model => model.CouponId, Model.AvailableCoupons, new { @class = "form-control" })
                            </div>
                        </div>
                </fieldset>
            </div>

            <!-- Total -->
            <div class="box subtotal">
                <fieldset>
                    <div class="form-group">
                        @Html.Label("商品总计", new { @class = "control-label col-xs-3" })
                        <div class="controls col-xs-9">
                            <i class="fa fa-rmb"></i>@Model.Subtotal
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.Label("运费总计", new { @class = "control-label col-xs-3" })
                        <div class="controls col-xs-9">
                            <i class="fa fa-rmb"></i>@Model.Freight
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.Label("优惠金额", new { @class = "control-label col-xs-3" })
                        <div class="controls col-xs-9">
                            - <i class="fa fa-rmb"></i><span id="coupon-total">@Model.Preferential</span>
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.Label("订单总计", new { @class = "control-label col-xs-3" })
                        <div class="controls col-xs-9">
                            <i class="fa fa-rmb"></i><span id="total-amount">@(Model.OrderTotal-Model.Preferential)</span>
                        </div>
                    </div>
                </fieldset>
            </div>
        <!-- Total End -->
            <div class="nav navbar-default">
                <nav class="navbar navbar-default navbar-fixed-bottom">
                    <div class="wd-nav">
                        @Html.AntiForgeryToken()
                        <input type="submit" class="btn btn-block btn-success" value="微信支付" />
                    </div>
                </nav>

            </div>
        <!-- Payment End -->
        }
    </div>
</div>

<!-- 支付选择 -->
<script type="text/javascript">

    //调用微信JS api 支付
    function jsApiCall(jsApiString) {
        WeixinJSBridge.invoke('getBrandWCPayRequest',
        jsApiString,
            function (res) {
                if (res.err_msg == "get_brand_wcpay_request:ok") {
                    window.location.href = "http://www.bb-girl.cn/order/PaySuccess";
                } else {
                    //返回跳转到订单详情页面
                    alert("支付失败");
                }
            }
        );
    }

    function callpay(jsApiString) {

        if (typeof WeixinJSBridge == "undefined") {
            if (document.addEventListener) {
                document.addEventListener('WeixinJSBridgeReady', jsApiCall, false);
            }
            else if (document.attachEvent) {
                document.attachEvent('WeixinJSBridgeReady', jsApiCall);
                document.attachEvent('onWeixinJSBridgeReady', jsApiCall);
            }
        }
        else {
            jsApiCall(jsApiString);
        }
    }
    function SaveOrderSuccess(jsApiString) {
        callpay(jsApiString);
    }

    $(function () {
        $("#@Html.FieldIdFor(model => model.CouponId)").change(function () {
            
            var couponId = $(this).val();
            if (couponId > 0) {
                $.ajax({
                    type: "POST",
                    url: "/Order/GetCouponTotalById?couponId=" + couponId + "&total=@Model.OrderTotal",
                    success: function (data) {
                        $("#total-amount").html(data.Total);
                        $("#coupon-total").html(data.Amount);
                    }

                });
            }
            else {
                $("#total-amount").html(@Model.OrderTotal);
                $("#coupon-total").html(0);

            }

        });
    });
</script>

