@model ArtSolution.Web.Areas.Admin.Models.Catalog.ProductListModel
@{
    ViewBag.Title = "商品管理";
}

<section class="content-header">
    <h1>商品列表</h1>
</section>
<section class="content">
    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                @Html.TextBoxFor(model => model.Keywords, new { @placeholder = "关键字查询", @class = "form-control" })
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                @Html.DropDownListFor(model => model.IsPreSell,
                     new List<SelectListItem> {
                                    new SelectListItem() { Text = "商品预售", Value = (null as bool?).ToString() }, new SelectListItem() { Text = "预售", Value = "true" },
                                    new SelectListItem() { Text = "非预售", Value = "false" }
                     }, new { @class = "form-control" })
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                @Html.EditorFor(model => model.CategoryIds, new { SelectList = Model.AvailableCategories })
                <script>
                    $(document).ready(function () {
                        var rolesIdsInput = $('#@Html.FieldIdFor(model => model.CategoryIds)').data("kendoMultiSelect");
                        rolesIdsInput.setOptions({
                            autoClose: false
                        });

                        @if (Model.AvailableCategories.Count == 0)
                                                {
                                                    <text>
                        rolesIdsInput.setOptions({
                            enable: false,
                            placeholder: '全部类别'
                        });
                        rolesIdsInput._placeholder();
                        rolesIdsInput._enable();
                        </text>
                                                }
                    });
                </script>
            </div>
        </div>
        <div class="col-md-1">
            <a href="#" class="btn btn-social-icon" id="search-products"><i class="fa fa-search"></i></a>
        </div>
        <div class="col-md-1 col-md-offset-2">
            <a href="@Url.Action("Create")" class="btn btn-primary"><i class="fa fa-fw fa-plus-square"></i>新增商品</a>
        </div>
    </div>
    <div class="portlet-body">

        <div id="product-grid"></div>
    </div>
</section>
<script>
    $(document).ready(function () {
        $("#product-grid").kendoGrid({
            dataSource: {
                type: "json",
                transport: {
                    read: {
                        url: "@Html.Raw(Url.Action("List", "Product"))",
                        type: "POST",
                        dataType: "json",
                        contentType: "application/json",
                        data: additionalData
                    },

                    update: {
                        url: "@Html.Raw(Url.Action("UpdateProductPrice", "Product"))",
                        type: "POST",
                        dataType: "json",
                        data: addAntiForgeryToken
                    },
                    parameterMap: function (data, operation) {
                        if (operation != "read") {
                            return data;
                        } else {
                            //for some reasons only such "Filter" data be parsed
                            return JSON.stringify(data);
                        }
                    }
                },
                schema: {
                    data: "Data",
                    total: "Total",
                    errors: "Errors",
                    model: {
                        id: "Id",
                        fields: {
                            Name: { editable: false, type: "string" },
                            ProductImage: { editable: false, type: "string" },
                            PreSell: { editable: false, type: "bool" },
                            ProductCode: { editable: false, type: "string" },
                            Market: { editable: false, type: "string" },
                            CategoryId: { editable: false, type: "string" },
                            CreationTime: { editable: false, type: "string" },
                            WithOrder: { editable: false, type: "string" },
                            StockQuantity: { editable: false, type: "string" },
                            Price: { editable: true, type: "number" },
                            Id: { editable: false, type: "number" }
                        }
                    }
                },
                requestEnd: function (e) {
                    if (e.type == "create" || e.type == "update") {
                        this.read();
                    }
                },
                error: function (e) {
                    display_kendoui_grid_error(e);
                    // Cancel the changes
                    this.cancelChanges();
                },
                pageSize: 20,
                serverPaging: true,
                serverFiltering: false,
                serverSorting: false
            },
            pageable: {
                refresh: true,
                pageSizes: [10, 20, 50]
            },
            scrollable: false,
            
            editable: {
                confirmation: "删除",
                mode: "inline"
        },
            columns: [
                {
                    field: "Id",
                    title: "Id",
                    width: 100,
                    headerAttributes: { style: "text-align:center" },
                    attributes: { style: "text-align:center" },
                }, {
                    field: "Name",
                    title: "名称",
                    headerAttributes: { style: "text-align:center" },
                    template: '<a href="Edit/#=Id#" title="编辑">#=Name#</a>'
                }, {
                    field: "ProductImage",
                    title: "商品图片",
                    headerAttributes: { style: "text-align:center" },
                    attributes: { style: "text-align:center" },
                    template: "<img src='#=ProductImage#' width='50' />",
                }, {
                    field: "PreSell",
                    title: "是否预售商品",
                    headerAttributes: { style: "text-align:center" },
                    attributes: { style: "text-align:center" },
                    template: '# if(PreSell) {# <i class="fa fa-check true-icon"></i> #} else {# <i class="fa fa-close false-icon"></i> #} #'
                }, {
                    field: "Price",
                    title: "销售价",
                    headerAttributes: { style: "text-align:center" },
                    attributes: { style: "text-align:center" },
                    template: "<span class=\"text-danger \" ><strong>#=Price#</strong></span>",
                }, {
                    field: "Market",
                    title: "市场价",
                    headerAttributes: { style: "text-align:center" },
                    attributes: { style: "text-align:center" },
                    template: "<span class=\"text-danger \" style=\" text-decoration: line-through;\" ><strong>#=Market#</strong></span>",
                }, {
                    field: "WithOrder",
                    title: "销量",
                    headerAttributes: { style: "text-align:center" },
                    attributes: { style: "text-align:center" },
                }, {
                    field: "CreationTime",
                    title: "创建时间",
                    width: 200,
                    type: "date",
                    format: "{0:G}"
                }, {
                    field: "StockQuantity",
                    title: "库存",
                    width: 80,
                },
                {
                    command: [
                        {
                            name: "edit",
                            text: {
                                edit: "编辑",
                                update: "保存",
                                cancel: "取消"
                            }
                        }, 
                    ],
                    width: 200
                }
                //}, {
                //    field: "Id",
                //    title: "操作",
                //    width: 240,
                //    template: '<a class="btn btn-success" href="Edit/#=Id#">编辑</a><a class="btn btn-danger">删除</a><a class="btn btn-info btn-product-price" onclick="setPrice(#=Id#);" >设置价格</a>'
                //}
            ]
        });

        //search button
        $('#search-products').click(function () {
            var grid = $('#product-grid').data('kendoGrid');
            grid.dataSource.page(0);
        });


    });
    function additionalData() {
        var data = {
            Keywords: $('#@Html.FieldIdFor(model => model.Keywords)').val(),
            CategoryIds: $('#@Html.FieldIdFor(model => model.CategoryIds)').val(),
            IsPreSell: $('#@Html.FieldIdFor(model => model.IsPreSell)').val(),
        };
        return data;
    }
</script>


