@model ArtSolution.Web.Areas.Admin.Models.Customers.CustomerListModel
@using ArtSolution.Domain.Customers;

@{
    ViewBag.Title = "Customer";
}

@section Styles
{
    @Html.IncludeStyle("~/admin-lte/plugins/datatables/extensions/Responsive/css/dataTables.responsive.css")
    @Html.IncludeStyle("~/admin-lte/plugins/datatables/jquery.dataTables.min.css")
}
@section Scripts
    {
    @Html.IncludeScript("~/admin-lte/plugins/datatables/jquery.dataTables.min.js")
    @Html.IncludeScript("~/admin-lte/plugins/datatables/dataTables.bootstrap.min.js")
    @Html.IncludeScript("~/admin-lte/plugins/datatables/extensions/Responsive/js/dataTables.responsive.min.js")
}

<section class="content-header">
    <h1>用户管理列表</h1>
</section>
<section class="content">
    <div class="portlet-body">
        <div class="row">
            <div class="col-md-2">
                <div class="form-group">
                    @Html.TextBoxFor(model => model.Keywords, new { @placeholder = "关键字查询", @class = "form-control" })
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    @Html.ArtEditorFor(model => model.StartDate, "开始时间")
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    @Html.ArtEditorFor(model => model.EndDate, "结束时间")
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    @Html.DropDownListFor(model => model.Sub, new List<SelectListItem> {
                   new SelectListItem() { Text = "全部", Value = (null as bool?).ToString()  },
                   new SelectListItem() { Text = "已关注", Value = "true" },
                   new SelectListItem() { Text = "未关注", Value = "false" } },new { @class="form-control"})
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    @Html.DropDownListFor(model => model.RoleId, (CustomerRole.Buyer.ToSelectList()),"全部角色", new { @class = "form-control" })
                </div>
            </div>
            <div class="col-md-1">
                <a href="#" class="reload btn btn-social-icon" id="search-catalogs"><i class="fa fa-search"></i></a>
            </div>
        </div>
        <div id="customer-grid"></div>
    </div>
</section>
<script>
    $(document).ready(function () {
        $("#customer-grid").kendoGrid({
            dataSource: {
                type: "json",
                transport: {
                    read: {
                        url: "@Html.Raw(Url.Action("List", "Customer"))",
                        type: "POST",
                        dataType: "json",
                        data: additionalData
                    }
                },
                schema: {
                    data: "Data",
                    total: "Total",
                    errors: "Errors"
                },
                error: function (e) {
                    display_kendoui_grid_error(e);
                    // Cancel the changes
                    this.cancelChanges();
                },
                pageSize: 20,
                serverPaging: true,
                serverFiltering: false,
                serverSorting: false
            },
            pageable: {
                refresh: true,
                pageSizes: [10, 20, 50]
            },
            scrollable: false,
            columns: [
                {
                    field: "Id",
                    title: "Id",
                    width: 100,
                    headerAttributes: { style: "text-align:center" },
                    attributes: { style: "text-align:center" },
                }, {
                    field: "CustomerRole",
                    title: "用户角色",
                    headerAttributes: { style: "text-align:center" },
                    attributes: { style: "text-align:center" },
                    width: 150,
                }, {
                    field: "Name",
                    title: "用户昵称",
                    headerAttributes: { style: "text-align:center" },
                    attributes: { style: "text-align:center" },
                }, {
                    field: "Mobile",
                    title: "手机号",
                    headerAttributes: { style: "text-align:center" },
                    attributes: { style: "text-align:center" },
                }, {
                    field: "WidthOrder",
                    title: "订单量",
                    headerAttributes: { style: "text-align:center" },
                    attributes: { style: "text-align:center" },
                }, {
                    field: "IsSubscribe",
                    title: "是否关注",
                    width: 100,
                    headerAttributes: { style: "text-align:center" },
                    attributes: { style: "text-align:center" },
                    template: '# if(IsSubscribe) {# <i class="fa fa-check true-icon"></i> #} else {# <i class="fa fa-close false-icon"></i> #} #'
                }, {
                    field: "CreationTime",
                    title: "关注时间",
                    width: 150,
                    type: "date",
                    format: "{0:G}"
                }, {
                    field: "Promoter",
                    headerAttributes: { style: "text-align:center" },
                    attributes: { style: "text-align:center" },
                    title: "关注人",
                    width: 200,
                }, {
                    field: "Id",
                    title: "操作",
                    width: 200,
                    template: '<a class="btn btn-success" href="Edit/#=Id#">查看详情</a>'
                }
            ]
        });

        //search button
        $('#search-catalogs').click(function () {
            var grid = $('#catalog-grid').data('kendoGrid');
            grid.dataSource.page(0);
        });
    });
    function additionalData() {
        var data = {
            Keywords: $('#@Html.FieldIdFor(model => model.Keywords)').val(),
            StartDate: $('#@Html.FieldIdFor(model => model.StartDate)').val(),
            EndDate: $('#@Html.FieldIdFor(model => model.EndDate)').val(),
            Sub: $('#@Html.FieldIdFor(model => model.Sub)').val(),
            RoleId: $('#@Html.FieldIdFor(model => model.RoleId)').val(),
        };
        return data;
    }
</script>

