@using ArtSolution.Names;
@{
    ViewBag.Title = "贴身保膘";
    var settingServer = Abp.Dependency.IocManager.Instance.Resolve<ArtSolution.Common.ISettingService>();
    var appId = settingServer.GetSettingByKey<string>(WeChatSettingNames.AppId);
    var appSecret = settingServer.GetSettingByKey<string>(WeChatSettingNames.AppSecret);

}
@section styles
{
    @Html.IncludeStyle("~/Content/swiper3/css/swiper.min.css")
}
@section scripts
    {
    @Html.IncludeScript("~/Content/swiper3/js/swiper.min.js")
}

@Html.Action("Header", "Common")
@Html.Action("HomeFocusMap", "Common")
@*
        <div class="searh-box">
            @using (Html.BeginForm("Search", "Product", FormMethod.Post, new { @class = "form-horizontal" }))
            {
                @Html.AntiForgeryToken()

                <div class="form-group">
                    <div class="col-xs-9">
                        <input class="form-control" name="Keyword" placeholder="关键词搜索" type="text">

                    </div>            <input type="submit" class="col-xs-3" value="搜索" />
                </div>
            }
        </div>

    @Html.Action("HomeCategory", "Catalog", new { categoryId = 0 })*@
@Html.Action("HomeProducts", "Product", new { maxCount = 50 })

@*<div id="sssss"></div>
    <script>
    function getInfo()
    {
    var s = "";
    s += " 网页可见区域宽："+ document.body.clientWidth;
    s += " 网页可见区域高："+ document.body.clientHeight;
    s += " 网页可见区域宽："+ document.body.offsetWidth + " (包括边线和滚动条的宽)";
    s += " 网页可见区域高："+ document.body.offsetHeight + " (包括边线的宽)";
    s += " 网页正文全文宽："+ document.body.scrollWidth;
    s += " 网页正文全文高："+ document.body.scrollHeight;
    s += " 网页被卷去的高(ff)："+ document.body.scrollTop;
    s += " 网页被卷去的高(ie)："+ document.documentElement.scrollTop;
    s += " 网页被卷去的左："+ document.body.scrollLeft;
    s += " 网页正文部分上："+ window.screenTop;
    s += " 网页正文部分左："+ window.screenLeft;
    s += " 屏幕分辨率的高："+ window.screen.height;
    s += " 屏幕分辨率的宽："+ window.screen.width;
    s += " 屏幕可用工作区高度："+ window.screen.availHeight;
    s += " 屏幕可用工作区宽度："+ window.screen.availWidth;
    s += " 你的屏幕设置是 "+ window.screen.colorDepth +" 位彩色";
    s += " 你的屏幕设置 "+ window.screen.deviceXDPI +" 像素/英寸";
    alert (s);
    }
    getInfo();
    </script>*@

