@using ArtSolution.Names;
@{
    ViewBag.Title = "贴身保膘";
    var settingServer = Abp.Dependency.IocManager.Instance.Resolve<ArtSolution.Common.ISettingService>();
    var appId = settingServer.GetSettingByKey<string>(WeChatSettingNames.AppId);
    var appSecret = settingServer.GetSettingByKey<string>(WeChatSettingNames.AppSecret);

}
@section styles
{
    @Html.IncludeStyle("~/Content/swiper3/css/swiper.min.css")
}
@section scripts
    {
@Html.IncludeScript("~/Content/swiper3/js/swiper.min.js")
@Html.IncludeScript("~/Scripts/iscrolls/iscroll.js")
}

@Html.Action("Header", "Common")
@Html.Action("HomeFocusMap", "Common")
@*
        <div class="searh-box">
            @using (Html.BeginForm("Search", "Product", FormMethod.Post, new { @class = "form-horizontal" }))
            {
                @Html.AntiForgeryToken()

                <div class="form-group">
                    <div class="col-xs-9">
                        <input class="form-control" name="Keyword" placeholder="关键词搜索" type="text">

                    </div>            <input type="submit" class="col-xs-3" value="搜索" />
                </div>
            }
        </div>

    @Html.Action("HomeCategory", "Catalog", new { categoryId = 0 })*@
@Html.Action("HomeProducts", "Product", new { maxCount = 10 })

