@model ArtSolution.Web.Models.Catalogs.ProductModel
@using ArtSolution.Web.Models.WeChat;
@{
    ViewBag.Title = Model.MetaTitle;
    var customerId = Convert.ToInt32(ViewData["CustomerId"]);
    Layout = "~/Views/Shared/_DetailLayout.cshtml";
    Html.AddTitleParts(!String.IsNullOrEmpty(Model.MetaTitle) ? Model.MetaTitle : Model.Name);

    Html.AddMetaDescriptionParts(Model.MetaDescription);
    Html.AddMetaKeywordParts(Model.MetaKeywords);

    var stockQuantity = Model.StockQuantity;
    if (Model.SpecialPriceStartDateTime.HasValue && Model.SpecialPriceEndDateTime.HasValue)
    {
        if (Model.SpecialPriceStartDateTime.Value < DateTime.Now && Model.SpecialPriceEndDateTime.Value > DateTime.Now)
        {
            stockQuantity = Model.SpecialQuantity;
        }
    }
}

@section styles
{
    @Html.IncludeStyle("~/Content/jquery.bootstrap-touchspin.css")
    @Html.IncludeStyle("~/Content/swiper3/css/swiper.min.css")
}
@section scripts
    {
    @Html.IncludeScript("~/Scripts/jquery.bootstrap-touchspin.js")
    @Html.IncludeScript("~/Content/swiper3/js/swiper.min.js")
}
<!--=== Shop Product ===-->
<div class="shop-product margin-bottom-10">

    <div class="container">
        @Html.Action("Header", "Common")

        <div class="swiper-container">
            <div class="swiper-wrapper">
                @foreach (var image in Model.SubPictures)
                {
                    <div class="swiper-slide"><img src="@image.PictureUrl" /></div>
                }
            </div>
            <!-- Add Pagination -->
            <div class="swiper-pagination"></div>
        </div>
        <div class="shop-product-heading">
            <h2>@Model.Name</h2>
            @if (Model.SpecialPriceStartDateTime.HasValue && Model.SpecialPriceEndDateTime.HasValue)
            {
                if (Model.SpecialPriceStartDateTime < DateTime.Now && Model.SpecialPriceEndDateTime > DateTime.Now)
                {
                    <div class="product-price">
                        惊爆价￥@Model.SpecialPrice
                        <span class="end-time">促销截止 @Model.SpecialPriceEndDateTime.Value.ToString("yyyy/MM/dd")</span>
                    </div>
                }
                {
                    <span class="product-price">￥@Model.Price</span>
                }
            }
            else
            {
                <span class="product-price">￥@Model.Price</span>
            }
            <p class="pull-left"> 聚美价：<span class="price">￥@Model.Market</span>  库存：@Model.StockQuantity</p>
            <p class="pull-right">
                @if (Model.AllowReward)
            { <text><a href="@Url.Action("Exchange", "Reward", new { productId = Model.Id })">积分兑换:@Model.RewardExchange 积分</a></text>}
            </p>

        </div><!--/end shop product social-->

        @if (Model.ProductRelateds.Count > 0)
        {
            <div class="related-products clearfix">
                <div class="related-title"><span>产品</span></div>
                <div class="related-content">

                    @foreach (var related in Model.ProductRelateds)
                {
                        <a class="related-name @if (related.Id == Model.Id)
                        { <text>active</text>} " href="@Url.Action("Detail", "Product", new { productId = related.Id })">@related.Name</a>

                    }
                </div>

            </div>
        }

        <!-- 是否预售-->
        @*@if (!Model.PreSell)
            {
                @Html.Partial("_Distribution")
            }
            @if (Model.BrandId > 0)
            {
                <div class="shop-product-content brand clearfix">

                    <div class="pull-left margin-left-10 brand-image">
                        <a class="" href="@Url.Action("BrandProducts", "Catalog", new { brandId = Model.BrandId })">
                            <img src="@Model.BrandImage" class="img-circle" alt="@Model.BrandName">
                        </a>
                    </div>
                    <div class="pull-left margin-left-10 brand-info">
                        <a class="brand" href="@Url.Action("BrandProducts", "Catalog", new { brandId = Model.BrandId })">
                            <span>@Model.BrandName</span>
                            <span>在售商品：@Model.BrandToProductCount</span>
                        </a>
                    </div>
                </div>
            }*@

        <div class="shop-product-detail">
            <div class="title">
                <h5>商品详情</h5>
            </div>
            <div class="content">
                @Html.Raw(Model.FullDescription)
            </div>
        </div>


        @if (ViewData["CustomerId"] != null)
        {
            <nav class="navbar navbar-default navbar-fixed-bottom product-footer">
                <ul>
                    <li class="items">
                        <button class="btn btn-large btn-block btn-danger btn-cart" @if (Model.SpecialPrice.HasValue) { <text> disabled="disabled" </text>    }>
                            <span class="footer-action-icon icon-goshop">加入购物车</span>
                        </button>
                    </li>
                    <li class="items">
                        <button class="btn btn-large btn-block btn-success btn-order" @if (Model.StockQuantity == 0) { <text> disabled </text>            }>立即购买</button>
                    </li>
                </ul>
            </nav>

            <footer id="item_select_sku_count" class="fix hide wrap J-backdrop" style="display: block; opacity: 1; z-index: 102;">
                <section class="wrap abs" id="item_control">
                    <div class="wrap margin_auto">
                        <div id="control_item_info" class="rel">
                            <img id="control_item_info_img" class="abs" src="@Model.ProductImage" width="100" height="100">
                            <span id="control_seckill_price" class="">
                                ￥
                                @if (Model.SpecialPrice.HasValue && DateTime.Now > Model.SpecialPriceStartDateTime && DateTime.Now < Model.SpecialPriceEndDateTime)
                                {
                                    @Html.Raw("惊爆价：" + Model.SpecialPrice);
                                }
                                else
                                {
                                    @Html.Raw(Model.Price);
                                }

                            </span>
                            <span id="control_name">
                                @Model.Name
                            </span>
                            <div id="control_item_info_close" class="abs close-icon">&nbsp;</div>
                        </div>
                        <div class="form-group clearfix">
                            <label class="col-xs-2 control-label">数量</label>
                            <div class="col-xs-6">
                                <input name="item_num" id="cart_num" class="center block item_num" value="1" type="tel">
                            </div>
                            <div class="col-xs-4">
                            </div>

                        </div>
                        <div class="form-group clearfix">
                            <label class="col-xs-2 control-label">库存</label>
                            <div class="col-xs-4">
                                @if (Model.SpecialPrice.HasValue && DateTime.Now > Model.SpecialPriceStartDateTime && DateTime.Now < Model.SpecialPriceEndDateTime)
                                {
                                    @Model.SpecialQuantity
                                }
                                else
                                {
                                    @Model.StockQuantity
                                }
                            </div>
                            <div class="col-xs-6">
                            </div>
                        </div>
                        <button id="att_to_cart" class="btnok c_txt hide">确定</button>
                        <button id="buy_now" class="btnok c_txt hide">立即购买</button>


                    </div>
                </section>
            </footer>
        }

        @Html.Action("RelatedProduct", new { categoryId = Model.CategoryId })

    </div>
</div>


@using (Ajax.BeginForm("ToCart", "ShoppingCart", null, new AjaxOptions
{
    HttpMethod = "POST",
    OnSuccess = "CartOnSuccess",
}, new { @Id = "cartFrom" }))
{
    @Html.AntiForgeryToken()
    @Html.Hidden("productId", Model.Id)
    <input type="hidden" id="qty" name="qty" value="0" />
}


@using (Html.BeginForm("ProductToOrder", "Order", FormMethod.Post, new { @Id = "orderFrom" }))
{
    @Html.AntiForgeryToken()
    @Html.Hidden("productId", Model.Id)

    <input type="hidden" id="qty" name="qty" value="0" />
}

<script type="text/javascript">
    //焦点图
    var swiper = new Swiper('.swiper-container', {
        pagination: '.swiper-pagination',
        paginationClickable: true
    });
    $(function () {
        $(".btn-cart").click(function () {
            $(".product-footer").toggleClass("hide");
            $("#att_to_cart").toggleClass("hide");
            $("#item_select_sku_count").toggleClass("hide");
        });

        $(".btn-order").click(function () {
            $(".product-footer").toggleClass("hide");
            $("#buy_now").toggleClass("hide");
            $("#item_select_sku_count").toggleClass("hide");
        });
        $("#control_item_info_close").click(function () {
            $(".product-footer").toggleClass("hide");
            $("#item_select_sku_count").toggleClass("hide");
            $("#att_to_cart").toggleClass("hide");
            $(".attribute").removeAttr('checked');
        });

        $("input[name='item_num']").TouchSpin({
            min: 1,
            max: @(stockQuantity),
            step: 1
        });

        //提交到购物车
        $('#att_to_cart').click(function (e) {
            var qty = $("#cart_num").val();
            $('#cartFrom #qty').val(qty);
            $('#cartFrom').submit();
            return false;
        });

        //立即购买
        $('#buy_now').click(function (e) {
            var qty = $("#cart_num").val();
            $('#orderFrom #qty').val(qty);

            $('#orderFrom').submit();
            return false;
        });
    });
    //完成
    function CartOnSuccess()
    {
        $(".product-footer").toggleClass("hide");
        $("#att_to_cart").toggleClass("hide");
        $("#item_select_sku_count").toggleClass("hide");
    }
</script>