@model ArtSolution.Web.Areas.Admin.Models.Customers.LoginModel
@{
    Layout = "~/Areas/Admin/Views/Shared/_LoginLayout.cshtml";
}

<body class="hold-transition login-page">
    <div class="login-box">
        <div class="login-logo">
            <a href="@Url.Action("Login", "Account")"><b>BB-Girl</b>-OSS-Manager</a>
        </div>
        <!-- /.login-logo -->
        <div class="login-box-body">
            <p class="login-box-msg">OSS系统管理后台登录</p>
            <form class="login-form" action="@(Url.Action("Login", "Account"))" method="post" novalidate="novalidate">
                @Html.AntiForgeryToken()

                @{var validationSummary = Html.ValidationSummary(true);

                    //TODO if (!HtmlString.IsNullOrEmpty(validationSummary))
                    {
                        <div class="message-error">@validationSummary</div>
                    }
                }
                <div class="form-group has-feedback">
                    @Html.TextBoxFor(model => model.LoginName, new { @class = "form-control", placeholder = "登录账户(手机号)" })
                    <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                    @Html.ValidationMessageFor(model => model.LoginName)
                </div>
                <div class="form-group has-feedback">
                    @Html.PasswordFor(model => model.Password, new { @class = "form-control", placeholder = "密码" })
                    <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                    @Html.ValidationMessageFor(model => model.Password)
                </div>
                <div class="row op">
                    <div class="col-xs-6">
                            @Html.CheckBoxFor(model => model.RememberMe)
                            @Html.LabelFor(model => model.RememberMe)
                    </div>
                    <!-- /.col -->
                    <div class="col-xs-6">
                        <button type="submit" class="btn btn-primary btn-block btn-flat">登录</button>
                    </div>
                    <!-- /.col -->
                </div>
            </form>
        </div>
        <!-- /.login-box-body -->
    </div>
</body>